<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa Danh mục</title>
</head>
<body>

<h1>Sửa Danh mục</h1>

<form th:action="@{/admin/categories/edit/{id}(id=${category.id})}" th:object="${category}" method="post">
    <div>
        <label for="name">Tên Danh mục:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>
    <br/>
    <button type="submit">Cập nhật</button>
    <a href="/admin/categories">Hủy</a>
</form>

</body>
</html>